*{
    margin: 0;
    padding: 0;
}

h2, h3, h4{
    margin: 0 !important;
}

.account{
    background: transparent;
    width: 88%;
    margin: 1.5rem auto;
    padding: 1.5%;
    border-radius: 15px;
    border: 1px solid;
}

.account-left{
    background:transparent;
    width: 40%;
    text-align: center;
    padding: 1.5%;
    border: none;
    border-right: 1px solid black;
    border-radius: 15px;
}
.account-left img{
    width: 18rem;
    height: 18rem;
    object-fit: cover;
    border-radius: 50%;
}

.right{
    background: transparent;
    padding: 1.1rem 2.5rem;
    border: none;
    border-left: 1px solid black;
    border-radius: 15px;
}

.detail{
    margin: 1rem auto;
}

.detail .icon{
    font-size: 29px;
    margin-right: 1rem;
}

.userName, .date, .about{
    width: 100%;
    margin: .6rem;
}
.account .btn{
    width: 46%;
    margin: 1.2rem auto;
}

.right h2{
    margin: 1rem 0 3.5rem 0 !important;
}

.account .right h4{
    margin-top:2.5rem !important;
    text-align: justify;
}